<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
table.myTable {
    font-family: "Times New Roman",Times,serif;
    border: 1px solid #FFFFFF;
    background-color: #E0D1FF;
    width: 100%;
    height: 100%;
    text-align: center;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: auto;
    overflow-x: hidden;
    }
    table.myTable td, table.myTable th {
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    padding: 3px 2px;
    }
    table.myTable tbody td {
    font-size: 20px;
    }
    table.myTable tr:nth-child(even) {
    background: #BAE0FF;
    }
    table.myTable tfoot td {
    font-size: 14px;
    }

    input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    }

    input[type=submit] {
    width: 100%;
    background-color: #B057E1;
    color: white;
    padding: 10px 14px;
    margin: 8px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    }

    input[type=submit]:hover {
    background-color: #EFB5FF;
    }

    </style>
</head>
<body bgcolor="#BAE0FF">

<a th:href="@{/adminPage}" style="font-size:150%;">Back</a>

<h3>Order Details</h3>

	<table class="myTable">
	<tr>
	<th>User</th>
	<th>Status</th>
	<th>Description</th>
	<th>Closing Date</th>
	<th>Created</th>
	<th>Last modified</th>
	<th>Edit order</th>
	</tr>
		<tr th:each="order : ${orders}">			
			<td th:text="|${order.user?.getUsername()}|"></td>
			<td th:text="|${order.status}|"></td>	
			<td th:text="|${order.description}|"></td>	
			<td th:text="|${order.closingDate}|"></td>
			<td th:text="|${order.created}|"></td>
			<td th:text="|${order.modified}|"></td>						
		 	<td><a th:href="@{/edit_order(id=${order.id})}">Edit Order</a> 
			</td>
		</tr>
	</table>
</body>
</html>