<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
   
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
    input[type=submit] {
    width: 30%;
    background-color: #B057E1;
    color: white;
    padding: 10px 14px;
    margin: 8px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    }

    input[type=submit]:hover {
    background-color: #EFB5FF;
    }

    </style>
</head>
<body bgcolor="#BAE0FF">
 <form action="/show_products" method="get">
		<a th:href="@{/show_products}"><input type="submit" value="Products" /></a>
	</form> 
	
<form action="/show_users" method="get">
	<a th:href="@{/show_users}"><input type="submit" value="Users" /></a>
</form>

<form action="/orders" method="get">
	<a th:href="@{/orders}"><input type="submit" value="Orders"/></a>
	</form>

<form action="/logout" method="get">
	<a th:href="@{/logout}"><input type="submit" value="Logout"/></a>
	</form>
</body>
</html>