<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
table.myTable {
    font-family: "Times New Roman",Times,serif;
    border: 1px solid #FFFFFF;
    background-color: #E0D1FF;
    width: 100%;
    height: 100%;
    text-align: center;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: auto;
    overflow-x: hidden;
    }
    table.myTable td, table.myTable th {
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    padding: 3px 2px;
    }
    table.myTable tbody td {
    font-size: 20px;
    }
    table.myTable tr:nth-child(even) {
    background: #BAE0FF;
    }
    table.myTable tfoot td {
    font-size: 14px;
    }

    input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    }

    input[type=submit] {
    width: 100%;
    background-color: #B057E1;
    color: white;
    padding: 10px 14px;
    margin: 8px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    }

    input[type=submit]:hover {
    background-color: #EFB5FF;
    }

    </style>
</head>
<body bgcolor="#BAE0FF">

<a th:href="@{/show_products}" style="font-size:150%;">Back</a>

	<table class="myTable">
	<tr>
	<th>Author</th>
	<th>Product</th>
	<th>Text</th>
	<th>Status</th>
	<th>Creation Date</th>
	<th>Last Modified</th>
	<th>Picture</th>
	<th>Delete</th>
	<th>Update</th>
	</tr>
		<tr th:each="comment : ${comments}">			
			<td th:text="|${comment.author?.name}|"></td>					
			<td th:text="|${comment.product?.name}|"></td>			
			<td th:text="|${comment.text}|"></td>		
			<td th:text="|${comment.approvementStatus}|"></td>		
			<td th:text="|${comment.created}|"></td>			
			<td th:text="|${comment.modified}|"></td>
			<td><img th:src="@{${comment?.url}}" width="100"/></td>
			<td><form action="#" th:action="@{/delete_comment(id=${comment.id})}" th:method="delete"
			class="btn btn-danger btn-sm"
                        onclick="if (!(confirm('Are you sure you want to delete this comment?'))) return false">
					<input type="hidden" name="_method" value="delete" />
					<input type="submit" id="submitButton" value="Delete"/>
				</form></td>
		 	<td><a th:href="@{/update_comment(id=${comment.id})}">Update</a> 
			</td>
		</tr>
	</table>
</body>
</html>