<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
    table.myTable {
    font-family: "Times New Roman",Times,serif;
    border: 1px solid #FFFFFF;
    background-color: #E0D1FF;
    width: 100%;
    height: 100%;
    text-align: center;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: auto;
    overflow-x: hidden;
    }
    table.myTable td, table.myTable th {
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    padding: 3px 2px;
    }
    table.myTable tbody td {
    font-size: 20px;
    }
    table.myTable tr:nth-child(even) {
    background: #BAE0FF;
    }
    table.myTable tfoot td {
    font-size: 14px;
    }

    input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    }

    input[type=submit] {
    width: 30%;
    background-color: #B057E1;
    color: white;
    padding: 10px 14px;
    margin: 8px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    }

    input[type=submit]:hover {
    background-color: #EFB5FF;
    }

    </style>
</head>
<body bgcolor="#BAE0FF">
<a th:href="@{/show_user}" style="font-size:150%;">Back</a>

<h2>Edit profile</h2>

<table class="myTable">
	<form role="form" th:action="@{/edit_profile}" th:object="${user}"
		th:method="put">
		<div class="form-group">
			<input type="hidden" name="_method" value="put" /> 
					<label for="name"> Name </label> <input class="form-control" th:field="*{name}"
				id="name" type="text">
				<ul>
					<li th:each="error: ${#fields.errors('name')}">         
						               <span th:text="${error}"></span>                  						 
					</li>
				</ul>
		</div>
		<div class="form-group">

			<label for="username"> Username </label> <input class="username"
				th:field="*{username}" id="usernamen" type="text" readonly=true>
		</div>
				<div class="form-group">
			<input type="hidden" name="_method" value="put" /> 
			<label for="email"> Email </label> <input class="form-control" th:field="*{email}"
				id="email" type="text" readonly=true>
		</div>

 		<div class="form-group">
			<label for="password"> Password </label> 
				
  				<input class="password" th:field="*{password}" id="password" type="text" th:readonly="${user.status.toString() != 'CHANGE_PASSWORD'}"> </div> 
		<ul>
					<li th:each="error: ${#fields.errors('password')}">         
						               <span th:text="${error}"></span>                  						 
					</li>
				</ul>	
			
				<div class="form-group">
			<input type="hidden" name="_method" value="put" /> 
			<label for="gender"> Gender </label> <select th:field="*{gender}">
					<option th:value="'MALE'" th:text="MALE"></option>
					<option th:value="'FEMALE'" th:text="FEMALE"></option>
				</select> 	
		</div>
		 <div class="form-group row">
                <label path="content" class="col-sm-2 col-form-label">Picture</label>
                <div class="col-sm-10">
                    <input type="text" th:value="*{picture}" id="picture" name="picture"
                           class="form-control" title="picture" th:errorclass="field-error">                      
                </div>
            </div>
		<div class="form-group">
			<input type="hidden" name="_method" value="put" /> 
			<label for="metadata"> Metadata </label> <input class="form-control" th:field="*{metadata}"
				id="metadata" type="text">
				<ul>
					<li th:each="error: ${#fields.errors('metadata')}">         
						               <span th:text="${error}"></span>                  						 
					</li>
				</ul>	
		</div>
		<div class="form-group">

			<label for="type"> Type </label>  <select th:field="*{type}">
					<option th:value="'PERSON'" th:text="PERSON"></option>
					<option th:value="'CORPORATE'" th:text="CORPORATE"></option>
				</select>	
		</div>
				<div class="form-group">
			<input type="hidden" name="_method" value="put" /> 
			<label for="ssnVat"> Ssn or Vat </label> <input class="form-control" th:field="*{ssnVat}"
				id="ssnVat" type="text">
				<ul>
					<li th:each="error: ${#fields.errors('ssnVat')}">         
						               <span th:text="${error}"></span>                  						 
					</li>
				</ul>
		</div>
		<div class="form-group">

			<label for="address"> Address </label> <input class="address"
				th:field="*{address}" id="address" type="text">
				<ul>
					<li th:each="error: ${#fields.errors('address')}">         
						               <span th:text="${error}"></span>                  					 
					</li>
				</ul>
		</div>
		<div class="form-group">

			<label for="status"> Status </label> <select th:field="*{status}">
					<option th:value="'ACTIVE'" th:text="ACTIVE"></option>
					<option th:value="'CHANGE_PASSWORD'" th:text="CHANGE_PASSWORD"></option>
					<option th:value="'SUSPENDED'" th:text="SUSPENDED"></option>
					<option th:value="'DEACTIVATED'" th:text="DEACTIVATED"></option>
				</select>
		</div>
				<div class="form-group">

			<label for="role"> Role </label> <input class="status"
				th:field="*{role}" id="role" type="text" readonly=true>
		</div>
		<label for="id"> ID </label> 
		<input class="form-control" th:field="*{id}" id="id" type="text">
		<input type="submit" id="submitButton" value="Edit">
	</form>
	</table>
</body>
</html>