<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
table.myTable {
	font-family: "Times New Roman", Times, serif;
	border: 1px solid #FFFFFF;
	background-color: #E0D1FF;
	width: 100%;
	height: 100%;
	text-align: center;
	border-collapse: collapse;
	border-radius: 10px;
	overflow: auto;
	overflow-x: hidden;
}

table.myTable td, table.myTable th {
	border: 1px solid #FFFFFF;
	border-radius: 10px;
	padding: 3px 2px;
}

table.myTable tbody td {
	font-size: 20px;
}

table.myTable tr:nth-child(even) {
	background: #BAE0FF;
}

table.myTable tfoot td {
	font-size: 14px;
}

input[type=text], select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 20px;
	box-sizing: border-box;
}

input[type=submit] {
	width: 30%;
	background-color: #B057E1;
	color: white;
	padding: 10px 14px;
	margin: 8px 0;
	border: none;
	border-radius: 20px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #EFB5FF;
}
</style>
</head>
<body bgcolor="#BAE0FF">

<a th:href="@{/orders}" style="font-size:150%;">Back</a>

<h2>Edit order</h2>
<table class="myTable">
	<form role="form" th:action="@{/edit_order}" th:object="${order}"
		th:method="put">
		<div class="form-group">
			<input type="hidden" name="_method" value="put" /> 
			<label for="user"> User </label> <input class="form-control" th:field="*{user.id}"
				id="user" type="text" readonly=true>
				<ul>
					<li th:each="error: ${#fields.errors('user')}">         
						               <span th:text="${error}"></span>                  						 
					</li>
				</ul>	
		</div>
		<div class="form-group">

			<label for="status"> Status </label> <select th:field="*{status}">
					<option th:value="'COMPLETED'" th:text="COMPLETED"></option>
					<option th:value="'CANCELED'" th:text="CANCELED"></option>
				</select>  
				<div class="form-group">

			<label for="description"> Description </label> <input class="form-control"
				th:field="*{description}" id="description" type="text">
				<ul>
					<li th:each="error: ${#fields.errors('description')}">         
						               <span th:text="${error}"></span>                  						 
					</li>
				</ul>	
				</div>
		</div>	
				<div class="form-group"> 

			<label for="closingDate"> Closing Date </label> <input class="form-control"
				th:field="*{closingDate}" id="closingDate" type="text" readonly=true>
		</div>

		<label for="id"> ID </label> 
		<input class="form-control" th:field="*{id}" id="id" type="text" readonly=true>
		<input type="submit" id="submitButton" value="Edit">
	</form>
	</table>
</body>
</html>