<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
    <title>Login</title>
    <style>
    table.myTable {
    font-family: "Times New Roman",Times,serif;
    border: 1px solid #FFFFFF;
    background-color: #E0D1FF;
    width: 100%;
    height: 100%;
    text-align: center;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: auto;
    overflow-x: hidden;
    }
    table.myTable td, table.myTable th {
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    padding: 3px 2px;
    }
    table.myTable tbody td {
    font-size: 20px;
    }
    table.myTable tr:nth-child(even) {
    background: #BAE0FF;
    }
    table.myTable tfoot td {
    font-size: 14px;
    }

    input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    }

    input[type=submit] {
    width: 60%;
    background-color: #B057E1;
    color: white;
    padding: 10px 14px;
    margin: 8px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    }

    input[type=submit]:hover {
    background-color: #EFB5FF;
    }
    
    input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    }
    

    </style>
</head>

<body bgcolor="#BAE0FF">

<a th:href="@{/welcome}" style="font-size:150%;">Back</a>

<h2>Login</h2>

<table class="myTable">
    <tr align="center" style="font-size:130%;">
        <th>Username</th>
        <th>Password</th>
    </tr>
    
    <form th:action="@{/login}" method="post">
        <td><input type="text" name="username" placeholder="Username"></td>
        <td><input type="password" name="password" placeholder="Password"></td>
        <td><input type="submit" value="Login"/></td>
    </form>
    
</table>

</body>
</html>