<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
    table.myTable {
    font-family: "Times New Roman",Times,serif;
    border: 1px solid #FFFFFF;
    background-color: #E0D1FF;
    width: 100%;
    height: 100%;
    text-align: center;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: auto;
    overflow-x: hidden;
    }
    table.myTable td, table.myTable th {
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    padding: 3px 2px;
    }
    table.myTable tbody td {
    font-size: 20px;
    }
    table.myTable tr:nth-child(even) {
    background: #BAE0FF;
    }
    table.myTable tfoot td {
    font-size: 14px;
    }

    input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    }

    input[type=submit] {
    width: 30%;
    background-color: #B057E1;
    color: white;
    padding: 10px 14px;
    margin: 8px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    }

    input[type=submit]:hover {
    background-color: #EFB5FF;
    }

    </style>
</head>
<body bgcolor="#BAE0FF">
<a th:href="@{/products}" style="font-size:150%;">Back</a>

<h2>Make order</h2>

<table class="myTable">
<form class="mx-auto w-25" th:object="${newOrder}" th:method="post"
			th:action="@{/make_order}">		
				
                        <div class="form-group row">
                <label path="content" class="col-sm-2 col-form-label">Description</label>
                <div class="col-sm-10">
                    <input type="text" th:value="*{description}" id="description" name="description"
                           class="form-control" title="description" th:errorclass="field-error">
                </div>
            </div>
            <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
               class="errors alert alert-danger offset-sm-2 col-sm-10">
            </p>	
						 <div class="form-group">
				                <label class="text-exodia">Closing date</label>      
				          <input type="text" class="form-control"
					th:field="*{closingDate}" placeholder="Closing date" readonly=true>      				           
				
						
								<div class="form-group">
				                <label class="text-exodia">Creation date</label>      
				          <input type="text" class="form-control"
					th:field="*{created}" placeholder="Creation date" readonly=true>         			           
			</div>			
			<div class="form-group">
				                <label class="text-exodia">Last modified</label>      
				          <input type="text" class="form-control"
					th:field="*{modified}" placeholder="Last modified" readonly=true>         		             
			</div>				
        <input type="submit" value="Finish order"/>
    </form>
</table>
</body>
</html>