<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add person</title>
    <style>
    table.myTable {
    font-family: "Times New Roman",Times,serif;
    border: 1px solid #FFFFFF;
    background-color: #E0D1FF;
    width: 100%;
    height: 100%;
    text-align: center;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: auto;
    overflow-x: hidden;
    }
    table.myTable td, table.myTable th {
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    padding: 3px 2px;
    }
    table.myTable tbody td {
    font-size: 20px;
    }
    table.myTable tr:nth-child(even) {
    background: #BAE0FF;
    }
    table.myTable tfoot td {
    font-size: 14px;
    }

    input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    }

    input[type=submit] {
    width: 100%;
    background-color: #B057E1;
    color: white;
    padding: 10px 14px;
    margin: 8px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    }

    input[type=submit]:hover {
    background-color: #EFB5FF;
    }

    </style>
</head>

<body bgcolor="#BAE0FF">

<a th:href="@{/welcome}" style="font-size:150%;">Back</a>

<h2>Registration Form</h2>

<table class="myTable">
    <form class="mx-auto w-25" th:object="${newUser}" th:method="post"
			th:action="@{/reg}">
			            <div class="form-group row">
                <label path="content" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" th:value="*{name}" id="email" name="name"
                           class="form-control" title="name" th:errorclass="field-error">
                </div>
            </div>
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
               class="errors alert alert-danger offset-sm-2 col-sm-10">
            </p>
            <div class="form-group row">
                <label path="content" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="text" th:value="*{email}" id="email" name="email"
                           class="form-control" title="email" th:errorclass="field-error">
                </div>
            </div>
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
               class="errors alert alert-danger offset-sm-2 col-sm-10">
            </p>					
                        <div class="form-group row">
                <label path="content" class="col-sm-2 col-form-label">Username</label>
                <div class="col-sm-10">
                    <input type="text" th:value="*{username}" id="username" name="username"
                           class="form-control" title="username" th:errorclass="field-error">
                </div>
            </div>
            <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
               class="errors alert alert-danger offset-sm-2 col-sm-10">
            </p>
			<div class="form-group row">
                <label path="content" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input type="text" th:value="*{password}" id="password" name="password"
                           class="form-control" title="email" th:errorclass="field-error">
                </div>
            </div>
            		<div class="form-group row">
                <label path="content" class="col-sm-2 col-form-label">Confirm Password</label>
                <div class="col-sm-10">
                    <input type="text" th:value="*{confirmPasword}" id="confirmPasword" name="confirmPasword"
                           class="form-control" title="confirmPasword" th:errorclass="field-error">
                </div>
            </div>
            <p th:if="${#fields.hasErrors('confirmPasword')}" th:errors="*{confirmPasword}"
               class="errors alert alert-danger offset-sm-2 col-sm-10">
            </p>	
			<div class="form-group row">
				<label path="content" class="col-sm-2 col-form-label">Gender</label>      
				<select th:field="*{gender}">
					<option th:value="'MALE'" th:text="MALE"></option>
					<option th:value="'FEMALE'" th:text="FEMALE"></option>
				</select>        				           
			</div>	
                     <div class="form-group row">
                <label path="content" class="col-sm-2 col-form-label">Picture</label>
                <div class="col-sm-10">
                    <input type="text" th:value="*{picture}" id="picture" name="picture"
                           class="form-control" title="picture" th:errorclass="field-error">                      
                </div>
            </div>
            <p th:if="${#fields.hasErrors('picture')}" th:errors="*{picture}"
               class="errors alert alert-danger offset-sm-2 col-sm-10">
            </p>					
            
                        <div class="form-group row">
                <label path="content" class="col-sm-2 col-form-label">Metadata</label>
                <div class="col-sm-10">
                    <input type="text" th:value="*{metadata}" id="metadata" name="metadata"
                           class="form-control" title="metadata" th:errorclass="field-error">
                </div>
            </div>
            <p th:if="${#fields.hasErrors('metadata')}" th:errors="*{metadata}"
               class="errors alert alert-danger offset-sm-2 col-sm-10">
            </p>						
			<div class="form-group row">
				<label path="content" class="col-sm-2 col-form-label">Type</label>      
				<select th:field="*{type}">
					<option th:value="'PERSON'" th:text="PERSON"></option>
					<option th:value="'CORPORATE'" th:text="CORPORATE"></option>
				</select>        				           
			</div>						
			         <div class="form-group row">
                <label path="content" class="col-sm-2 col-form-label">Ssn or Vat</label>
                <div class="col-sm-10">
                    <input type="text" th:value="*{ssnVat}" id="ssnVat" name="ssnVat"
                           class="form-control" title="ssnVat" th:errorclass="field-error">
                </div>
            </div>
            <p th:if="${#fields.hasErrors('ssnVat')}" th:errors="*{ssnVat}"
               class="errors alert alert-danger offset-sm-2 col-sm-10">
            </p>	
            <div class="form-group row">
                <label path="content" class="col-sm-2 col-form-label">Address</label>
                <div class="col-sm-10">
                    <input type="text" th:value="*{address}" id="address" name="address"
                           class="form-control" title="address" th:errorclass="field-error">
                </div>
            </div>
            <p th:if="${#fields.hasErrors('address')}" th:errors="*{address}"
               class="errors alert alert-danger offset-sm-2 col-sm-10">
            </p>	
			<input type="submit" value="Register"/>        
    </form>
</table>
</body>
</html> 
