<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<style>
    input[type=submit] {
    width: 30%;
    background-color: #B057E1;
    color: white;
    padding: 10px 14px;
    margin: 8px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    }

    input[type=submit]:hover {
    background-color: #EFB5FF;
    }
    
    input[type=text], select {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    }

    </style>
<body bgcolor="#BAE0FF">

<a th:href="@{/adminPage}" style="font-size:150%;">Back</a>

	<form action="/add_product" method="get">
		<a th:href="@{/add_product}"><input type="submit" value="Add Product" /></a>
	</form>

	<form action="/search_products" method="get">
		<input type="text" name="name" placeholder="Name" /> <input
			type="submit" value="Search Product" />
	</form>
</body>
</html>