<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
    table.myTable {
    font-family: "Times New Roman",Times,serif;
    border: 1px solid #FFFFFF;
    background-color: #E0D1FF;
    width: 100%;
    height: 100%;
    text-align: center;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: auto;
    overflow-x: hidden;
    }
    table.myTable td, table.myTable th {
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    padding: 3px 2px;
    }
    table.myTable tbody td {
    font-size: 20px;
    }
    table.myTable tr:nth-child(even) {
    background: #BAE0FF;
    }
    table.myTable tfoot td {
    font-size: 14px;
    }

    input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    }

    input[type=submit] {
    width: 30%;
    background-color: #B057E1;
    color: white;
    padding: 10px 14px;
    margin: 8px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    }

    input[type=submit]:hover {
    background-color: #EFB5FF;
    }

    </style>
</head>
<body bgcolor="#BAE0FF">

<form action="/products" method="get"> 
<a th:href="@{/products}"><input type="submit" value="Products" /></a>
</form>
<form action="/show_user" method="get">
	<a th:href="@{/show_user}"><input type="submit" value="View Profile" /></a>
	</form>
<form action="/logout" method="get">
	<a th:href="@{/logout}"><input type="submit" value="Logout" /></a>
</form>
</body>
</html>