<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<style>

button[type=button] {
    width: 10%;
    background-color: #B057E1;
    color: white;
    padding: 10px 14px;
    margin: 8px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    }

    button[type=button]:hover {
    background-color: #EFB5FF;
    }
</style>
</head>
<body bgcolor="#BAE0FF">
    <div class="container">
        <div class="alert alert-danger" th:text="${message}"></div>
        <button type="button" class="btn btn-primary" onclick="history.back()">Go Back</button>
    </div>
</body>
</html>
