<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body bgcolor="#BAE0FF">

<h1>Login failed! Please try again.</h1>
<h3>No such username or password!</h3>

<a th:href="@{/login}" style="font-size:150%;">Back</a>

</body>
</html>