<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
    table.myTable {
    font-family: "Times New Roman",Times,serif;
    border: 1px solid #FFFFFF;
    background-color: #E0D1FF;
    width: 100%;
    height: 100%;
    text-align: center;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: auto;
    overflow-x: hidden;
    }
    table.myTable td, table.myTable th {
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    padding: 3px 2px;
    }
    table.myTable tbody td {
    font-size: 20px;
    }
    table.myTable tr:nth-child(even) {
    background: #BAE0FF;
    }
    table.myTable tfoot td {
    font-size: 14px;
    }

    input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    }

    input[type=submit] {
    width: 30%;
    background-color: #B057E1;
    color: white;
    padding: 10px 14px;
    margin: 8px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    }

    input[type=submit]:hover {
    background-color: #EFB5FF;
    }

    </style>
</head>
<body bgcolor="#BAE0FF">

<a th:href="@{/show_products}" style="font-size:150%;">Back</a>

<h2>Add comment</h2>

<table class="myTable">
<form class="mx-auto w-25" th:object="${newComment}" th:method="post"
			th:action="@{/add_comment}">			
			
					<div class="form-group">
				                <label class="text-exodia">Text</label>      
				          <input type="text" class="form-control"
					th:field="*{text}" placeholder="Text">      				           
				<ul>
					<li th:each="error: ${#fields.errors('text')}">         
						               <span th:text="${error}"></span>                  						 
					</li>
				</ul>				             
			</div>
						 <div class="form-group">
				                <label class="text-exodia">URL</label>      
				          <input type="text" class="form-control"
					th:field="*{url}" placeholder="URL">      				           
				<ul>
					<li th:each="error: ${#fields.errors('url')}">         
						               <span th:text="${error}"></span>                  						 
					</li>
				</ul>
				             
			</div>
								<div class="form-group">
				                <label class="text-exodia">Creation date</label>      
				          <input type="text" class="form-control"
					th:field="*{created}" placeholder="Creation date" readonly=true>         
				           
				<ul>
					<li th:each="error: ${#fields.errors('created')}">         
						               <span th:text="${error}"></span>                  						 
					</li>
				</ul>				             
			</div>			
			<div class="form-group">
				                <label class="text-exodia">Last modified</label>      
				          <input type="text" class="form-control"
					th:field="*{modified}" placeholder="Last modified" readonly=true>         
				           
				<ul>
					<li th:each="error: ${#fields.errors('modified')}">         
						               <span th:text="${error}"></span>                  						 
					</li>
				</ul>				             
			</div>				
			<input class="form-control" th:field="*{id}" id="id" type="text" readonly=true>
        <input type="submit" value="Add comment"/>
    </form>
</table>
</body>
</html>