<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Welcome</title>
<style>

input[type=text], select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 20px;
	box-sizing: border-box;
}

input[type=submit] {
	width: 30%;
	background-color: #B057E1;
	color: white;
	padding: 10px 14px;
	margin: 8px 0;
	border: none;
	border-radius: 20px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #EFB5FF;
}
</style>
</head>

<body bgcolor="#BAE0FF">
 
	<h1 align="center">Welcome to our awesome E-shop!</h1>

	<form action="/login" method="get" align="center">>
		<a th:href="@{/login}"><input type="submit" value="Login" /></a>
	</form>

	<form action="/reg" method="get" align="center">>
		<a th:href="@{/reg}"><input type="submit" value="Register" /></a>
	</form>

</body>
</html>
